[submodule "3rd/rpmalloc"]
	path = 3rd/rpmalloc
	url = https://github.com/rampantpixels/rpmalloc.git
[submodule "3rd/glfw"]
	path = 3rd/glfw
	url = https://github.com/glfw/glfw.git
[submodule "3rd/mappedfile"]
	path = 3rd/mappedfile
	url = https://github.com/d0k/mappedfile.git
[submodule "3rd/zlib"]
	path = 3rd/zlib
	url = https://github.com/madler/zlib.git
